/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
.app-container {
  width: 100%;
  margin-top: 80px;
}
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}
.flex{
  display: flex;
}
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(250,250,250);
  color: #37454c;
}
