<form [formGroup]="address" class="example-form" (ngSubmit)="onSaveAddress()">

  <mat-form-field class="example-full-width" >
    <input formControlName="streetAddress" matInput placeholder="Street Address" (input)="isInfoChanged = true">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input formControlName="addressLine2" matInput placeholder="Apartment, Suite, Unit, etc." (input)="isInfoChanged = true">
  </mat-form-field>
  <div class="row">
    <mat-form-field class="col-6">
      <input formControlName="city" matInput placeholder="City" (input)="isInfoChanged = true">
    </mat-form-field>
    <mat-form-field class="col-3">
      <input formControlName="state" matInput placeholder="State" (input)="isInfoChanged = true">
    </mat-form-field>
    <mat-form-field class="col-3">
      <input formControlName="zipCode" matInput #postalCode maxlength="5" placeholder="Zip Code" (input)="isInfoChanged = true">
      <!--<mat-hint align="right">{{postalCode.value.length}} / 5</mat-hint>-->
    </mat-form-field>
  </div>
  <div *ngIf="isInfoChanged" class="row" style="margin: 0">
    <button mat-raised-button class="col-3" (click)="getUserAddress()">Cancel</button>
    <div class="col-6"></div>
    <button mat-raised-button class="col-3" type="submit" [color]="'custom-primary'">Save</button>
  </div>
</form>
