<div class="center-block">
  <h4><i class="far fa-check-circle" style="color: #4CAF50;"></i>&nbsp;Thanks! Your order has been placed</h4>
  <div class="account-info-container" style="padding: 20px 0 20px 0;">
    <div class="row">
      <span class="col-2"></span>
      <span class="col-4">Order Id</span>
      <span class="col-6">45794546464</span>
    </div>
    <div class="row">
      <span class="col-2"></span>
      <span class="col-4">Store Name</span>
      <span class="col-6">Publix</span>
    </div>
    <div class="row">
      <span class="col-2"></span>
      <span class="col-4">Placed On</span>
      <span class="col-6">11/17/2019 9:01 AM</span>
    </div>
    <div class="row">
      <span class="col-2"></span>
      <span class="col-4">Number of Items</span>
      <span class="col-6">30</span>
    </div>
    <div class="row">
      <span class="col-2"></span>
      <span class="col-4">Total Price</span>
      <span class="col-6">$559.64</span>
    </div>
    <div class="row">
      <span class="col-2"></span>
      <span class="col-4">Status</span>
      <span class="col-6">Waiting</span>
    </div>
    
  </div>
  <div class="account-info-container" >
    <app-items-list [isCartMode]="false"></app-items-list>
  </div>
</div>
