<div class="center-block center-block-container">
  <mat-tab-group mat-stretch-tabs dynamicHeight>
    <mat-tab  label="Buyer">
      <form [formGroup]="registerBuyer" (ngSubmit)="onRegisterBuyerSubmit()">
        <div class="row">
          <mat-form-field for="username" class="col-6">
            <input formControlName="username" type="text" matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field for="password" class="col-6">
            <input formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="lastname" floatLabel="always" placeholder="Last Name">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput formControlName="firstname" floatLabel="always" placeholder="First name">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput formControlName="phoneNumber" placeholder="Phone">
          </mat-form-field>
        </div>
        <mat-form-field>
          <input matInput formControlName="streetAddress" placeholder="Street Address">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="addressLine2" placeholder="Apartment, Suite, Unit, etc.">
        </mat-form-field>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="city" placeholder="City">
          </mat-form-field>
          <mat-form-field class="col-3">
            <input matInput formControlName="state" placeholder="State">
          </mat-form-field>
          <mat-form-field class="col-3">
            <input matInput formControlName="zipCode" #postalCode maxlength="5" placeholder="Zip Code">
          </mat-form-field>
          <button id="login-button" type="submit" mat-raised-button [color]="'custom-primary'">Register Buyer</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Deliverer">
      <form [formGroup]="registerDeliverer" (ngSubmit)="onRegisterDelivererSubmit()">
        <div class="row">
          <mat-form-field for="username" class="col-6">
            <input formControlName="username" type="text" matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field for="password" class="col-6">
            <input formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="lastname" floatLabel="always" placeholder="Last Name">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput formControlName="firstname" floatLabel="always" placeholder="First name">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput formControlName="phoneNumber" placeholder="Phone">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="confirmationCode" placeholder="Confirmation Code">
          </mat-form-field>
          <button id="login-button" type="submit" mat-raised-button [color]="'custom-primary'">Register Deliverer</button>
        </div>

      </form>
    </mat-tab>
    <mat-tab label="Manager">
      <form [formGroup]="registerManager" (ngSubmit)="onRegisterManagerSubmit()">
        <div class="row">
          <mat-form-field for="username" class="col-6">
            <input formControlName="username" type="text" matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field for="password" class="col-6">
            <input formControlName="password" type="password" matInput placeholder="Password">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="lastname" floatLabel="always" placeholder="Last Name">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput formControlName="firstname" floatLabel="always" placeholder="First name">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput formControlName="phoneNumber" placeholder="Phone">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-6">
            <input matInput formControlName="confirmationCode" placeholder="Confirmation Code">
          </mat-form-field>
          <mat-form-field class="col-6">
            <!--<input matInput formControlName="groceryId" placeholder="Assign Store">-->
            <mat-label>Assign Store</mat-label>
            <mat-select formControlName="groceryId" required>  <!--[(ngModel)]="deliveryTime">-->
              <mat-option *ngFor="let store of stores" [value]="store.id">{{store.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button id="login-button" type="submit" mat-raised-button [color]="'custom-primary'">Register Manager</button>
        </div>

      </form>
    </mat-tab>
  </mat-tab-group>
  <a style="align-self: center;" [routerLink]="['/login']">Have account already? Login here</a>
</div>

