
<div class="center-block">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field for="username">
      <input formControlName="username" type="text" matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field for="password">
      <input formControlName="password" type="password" matInput placeholder="Password">
    </mat-form-field>
    <button id="login-button" type="submit" mat-raised-button [color]="'custom-primary'">Login</button>
    <a style="align-self: center;" [routerLink]="['/register']">New to GroceryBama? Register here</a>
  </form>
</div>
