.center-block {
  position: fixed;
  width: 35%;
  /*margin:auto;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s;
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  background-color: white;
}
.form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
}
  .form-control:focus {
    color: unset;
    background-color: unset;
    border-color: unset;
    outline: 0;
    border-bottom: 1px solid #2196F3;
    box-shadow: none;
  }
@media (max-width: 1024px) {
  .center-block {
    width: 50%;
  }
}
@media (max-width: 645px) {
  .center-block {
    width: 70%;
  }
}
