.shopping-container{
  padding-left: 10%;
  padding-right: 3%;
}
.filter-container {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  padding-right: 2%;
  border-right: 1px solid #ececec;
}
.mat-checkbox-background {
  background-color: #919191;
}
.custom-checkbox, .custom-control-input, .custom-control-label {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 300px;
  background: #ffffffd6;
  border-radius: 2px;
  margin-left: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.item-info-container {
  position: absolute;
  padding: 8px;
  bottom: -86px;
  width: 100%;
  left: 0;
  /*background: #ffffffb8;*/
  transition: bottom 0.3s;
}
.item:hover .item-info-container {
  bottom: 0;
}
.item:hover .item-actions-container {
  opacity: 1;
}
.item:hover .item-shortInfo{
  border-bottom: none;
}
.item-actions-container {
  display: flex;
  opacity: 0;
  flex-direction: column;
  transition: opacity 0.3s;
  /*position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: #79797991;*/
  width: 100%;
  /*height: 35%;
  z-index: 3;*/
}
  .item-actions-container .input-group{
    margin-bottom: 5px;
  }
  .item-actions-container input{
    text-align: center;
  }

.item-actions-container .item-add-cart {
}
.item .inner-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.item .item-label {
  width: 70px;
  background: transparent;
  height: 70px;
  position: absolute;
  left: -5px;
  top: -5px;
  overflow: hidden;
}
  .item .item-label span {
    position: absolute;
    left: -25px;
    height: 29px;
    line-height: 25px;
    top: 10px;
    padding: 2px 5px 2px 5px;
    border-left: none;
    background: #bd4e4e;
    color: white;
    z-index: 1;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    box-shadow: #000000b3 1px 1px 2px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    text-align: center;
    width: 100px;
  }
  .item.disabled .item-label span {
    color: #c9c9c9;
    background: #f9f9f9;
    font-size: 15px;
  }
  .item .item-label::before,
  .item .item-label::after {
    content: '';
    border: 3px solid #8b2929;
    z-index: -1;
    position: absolute;
    display: block;
  }
.item.disabled .item-label::before,
.item.disabled .item-label::after {
  border-color: #9E9E9E;
}
      
  .item .item-label::before {
    left: 0;
    bottom: 0;
  }
  .item .item-label::after {
    right: 0;
    top: 0;
  }
  .item .img-container {
    width: 100%;
    padding-top: 100%;
    position: absolute;
    display: block;
    box-sizing: border-box;
  }
.item img.pic {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  position: absolute;
  display: block;
  box-sizing: border-box;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.item .item-shortInfo {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #b0b0b073;
}
.item .item-price {
  color: #333333;
  font-size: 19px;
  font-weight: bold;
}
.item .item-name{
  font-size: 17px;
}
.item .item-description {
  font-size: 15px;
  color: gray;
}

.items-paginator {
  justify-content: space-between;
}

  .items-paginator ::ng-deep .mat-paginator-container {
    justify-content: center;
  }

  .items-paginator ::ng-deep .mat-paginator-page-size {
    display: none;
  }


@media (max-width: 645px) {
  .filter-container {
    display: none;
  }
}
