.shopping-container{
  padding-left: 10%;
  padding-right: 3%;
}
.filter-container {
  margin-right: 2%;
  padding-right: 2%;
  border-right: 1px solid #ececec;
}

.custom-checkbox, .custom-control-input, .custom-control-label {
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}
.items-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 300px;
  background: white;
  border-radius: 2px;
  margin-left: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.item-info-container {
  position: absolute;
  padding: 5px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #ffffffb8;
  transition: height 0.3s;
}
.item:hover .item-shortInfo{
  border:none;
}
.item:hover .item-actions-container {
  display: flex;
}
.item-actions-container {
  display: none;
  flex-direction:column;
  /*position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  background: #79797991;*/
  width: 100%;
  /*height: 35%;
  z-index: 3;*/
}
  .item-actions-container .input-group{
    margin-bottom: 5px;
  }
  .item-actions-container input{
    text-align: center;
  }
  .item-actions-container .item-add-cart {
  }
.item .img-container {
  width: 100%;
  padding-top: 100%;
  position: absolute;
  display: block;
  box-sizing: border-box;
}
  .item img.pic {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
.item .item-shortInfo {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f0f0f0;

}
.item .item-price {
  color: #b30000;
  font-size: 19px;
  font-weight: bold;
}
.item .item-name{
  font-size: 17px;
}
.item .item-description {
  font-size: 15px;
  color: gray;
}

@media (max-width: 645px) {
  .filter-container {
    display: none;
  }
}
