<button id="add-new-card-button" mat-raised-button>Add New Card</button>
<div class="cards-container">
  <mat-radio-group [(ngModel)]="labelPosition">
    <mat-accordion>
      <div *ngFor="let item of test">
        <div class="row">
          <mat-radio-button [ngClass]="selectMode ? 'col-1': 'hide-card-selection'" style="top: 14px;" value="{{item}}"></mat-radio-button>
          <div [ngClass]="selectMode ? 'col-11': 'col-12'">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="far fa-credit-card" style="align-self: center;"></i>&nbsp;Card
                </mat-panel-title>
                <mat-panel-description>
                  40283728739187
                </mat-panel-description>
              </mat-expansion-panel-header>

              <form style="padding: 0">
                <div class="row">
                  <mat-form-field class="col-4">
                    <input matInput placeholder="Payment Name">
                  </mat-form-field>
                  <mat-form-field class="col-8">
                    <input matInput placeholder="Account Number">
                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field class="col-8">
                    <input matInput placeholder="Routine Number">
                  </mat-form-field>
                  <mat-checkbox checked="true" class="col-4" style="align-self: center;">Set as default</mat-checkbox>
                </div>
                <div class="row" style="margin: 0">
                  <button mat-raised-button class="col-3">Delete</button>
                  <div class="col-6"></div>
                  <button mat-raised-button class="col-3" [color]="'custom-primary'">Save</button>
                </div>
              </form>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </mat-accordion>
  </mat-radio-group>
</div>
