form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cards-container {
  margin: 20px;
}

#add-new-card-button {
  margin: 0px 20px 15px 20px;
  width: calc(100% - 40px);
}

.hide-card-selection {
  display: none;
}
