<div class="center-block">
  <h1>Account</h1>
  <div class="account-info-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" disabled value="{{ user.username }}">
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First name" disabled value="{{ user.firstname }}">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" disabled value="{{ user.lastname }}">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input type="tel" matInput placeholder="Phone Number">
            </mat-form-field>
          </td>
          <td>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" [formControl]="emailFormControl">
              </mat-form-field>
          </td>
        </tr>
      </table>
      
    </form>
  </div>

  <h1>Address</h1>
  <div class="account-info-container">
    <form class="example-form">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Street Address">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Apartment, Suite, Unit, etc.">
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="State">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-form-field class="example-full-width">
        <input matInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field>
    </form>
  </div>

  <h1>Payment Methods</h1>
  <div class="account-info-container">
    456789
  </div>
</div>


