<div class="center-block">
  <div class="summary right-float-container">
    <span>{{ totalNumItems }} Items</span>
    <div class="total">Total  ${{ totalPrice != null ? totalPrice.toFixed(2) : '0'}}</div>
    <button mat-raised-button [color]="'custom-primary'" (click)="onCheckOut()">Checkout</button>
  </div>
  <h2>Delivery Options</h2>
  <div class="center-block-container">
    <div class="row" style="padding: 20px;">
      <mat-form-field class="col-4">
        <mat-label>Delivery Time</mat-label>
        <mat-select [(ngModel)]="deliveryTime">
          <mat-option [value]="0">ASAP</mat-option>
          <mat-option [value]="1">In 1 Hour</mat-option>
          <mat-option [value]="2">In 2 Hours</mat-option>
          <mat-option [value]="5">In 5 Hours</mat-option>
          <mat-option [value]="10">In 10 Hours</mat-option>
          <mat-option [value]="12">In 12 Hours</mat-option>
          <mat-option [value]="24">In 24 Hours</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-8">
        <input [(ngModel)]="deliveryInstruction" matInput placeholder="Delivery Instruction">
      </mat-form-field>
    </div>
  </div>
  <h2>Address</h2>
  <div class="center-block-container">
    <app-address></app-address>
  </div>

  <h2>Payment Methods</h2>
  <div class="center-block-container">
    <app-payment-methods #paymentMethods [selectMode]="true"></app-payment-methods>
  </div>
</div>
