<div class="center-block">
  <h2>Inventory</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef> Item Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="retailPrice">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.listedPrice}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="wholeSalePrice">
      <th mat-header-cell *matHeaderCellDef> WS Price </th>
      <td mat-cell *matCellDef="let element"> {{element.wholeSalePrice}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef> Expire On </th>
      <td mat-cell *matCellDef="let element"> {{dateReformat(element.expirationDate)}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button (click)="openDialog(element)">Add</button>&nbsp;<button mat-raised-button (click)="deleteItemFromInventory(element)">Delete</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
