.cart-container {
  position: absolute;
  min-height: 300px;
  top: 100%;
  width: 500px;
  left: calc(100% - 500px);
  z-index: 99;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background: white;
  box-shadow: #e8e8e8 0px 0px 4px 2px;
}

  .cart-container::after {
    content: "";
    position: absolute;
    bottom: calc(100% - 4px);
    right: 15px;
    color: white;
    background: white;
    padding: 5px;
    border: solid #e8e8e8;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    display: inline-block;
  }
