a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 0;
  background: linear-gradient(to right, #900f0f 0%,#af1212 44%,#d01818 100%);
  /*background-color: #c00 !important;*/
  color: white;
}
.navbar-brand{
  color:inherit;
  font-size: 30px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: inherit;
}
.navbar-brand i {
  color: inherit;
}
.nav-item {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px 0 5px;
  font-size: 20px;
  color: inherit;
}
  .nav-item .i{
    color: inherit;
  }
  .nav-item.link-active {
    /*font-weight: bold;*/
  }
.nav-link{
  cursor: pointer;
  user-select: none;
  color: inherit !important;
}
#cart-icon {
  font-size:30px;
}
#nav-item-user:hover > .dropdown-menu, .dropdown-menu:hover {
  display: block;
}
.dropdown-menu {
  top: calc(100% - 2px);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
