<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><i class="fas fa-shopping-bag"></i> GroceryBama</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <i class="fas fa-home"></i>
            <a class="nav-link" [routerLink]="['/']">{{ currentStoreName }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" *ngFor="let store of stores" (click)="switchStore(store.id, store.name)">
                {{ store.name }}
                <h6 class="dropdown-header">{{ store.address }}</h6>
                <h6 class="dropdown-header">{{ store.phoneNumber }}</h6>
                <h6 class="dropdown-header">{{ store.hours }}</h6>
              </a>
            </div>
          </li>
          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
  </li>-->

          <li id="nav-item-user" class="nav-item" *ngIf="authenticator.isLoggedIn">
            <i class="far fa-id-card"></i>
            <a class="nav-link">{{ authenticator.currentUser.firstname }}</a>
            <div class="dropdown-menu">
              <h6 class="dropdown-header">Hi, {{ authenticator.currentUser.firstname }}</h6>
              <a class="dropdown-item" [routerLink]="['/account']">Account</a>

              <a class="dropdown-item" [routerLink]="['/inventory']" *ngIf="authenticator.role == 'manager'">Inventory</a>
              <a class="dropdown-item" [routerLink]="['/outstandingorders']" *ngIf="authenticator.role == 'manager'">Outstanding Orders</a>
              <a class="dropdown-item" [routerLink]="['/dashboard']" *ngIf="authenticator.role == 'manager'">Dashboard</a>
              <a class="dropdown-item" [routerLink]="['/myorders']" *ngIf="authenticator.role == 'buyer' || authenticator.role == 'deliverer'">My Orders</a>
              <h6 class="dropdown-header"> </h6>
              <a class="dropdown-item" [routerLink]="['/home']" (click)="logout()">Logout</a>
            </div>
          </li>
          
          <li class="nav-item" *ngIf="!authenticator.isLoggedIn" [routerLink]="['/login']">
            <i class="fas fa-sign-in-alt"></i>
            <a class="nav-link" >Login</a>
          </li>
          <li class="nav-item" *ngIf="authenticator.isLoggedIn && authenticator.role == 'buyer'" [routerLink]="['/cart']" >
            <i id="cart-icon" class="fas fa-shopping-cart"></i>
            <a class="nav-link" >
              {{ cartQuantity == 0 ? "Cart" : cartQuantity }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
