<div class="center-block">
  <div *ngFor="let order of orders">
    <h2 *ngIf="isDateDisplay(order)">{{ lastReformatedDate }}</h2>
    <div class="account-info-container" >
      <div class="row no-gutters order-header">
        <h4 class="status col-8" [ngClass]="orderStatusToClass(order.status)">{{ orderStatusToString(order.status) }}</h4>
        <h6 class="orderId col-4">Order # {{ order.orderId.toString().padStart(9, '0') }}</h6>
      </div>
      <div class="row no-gutters banner">
        <div class="col-6">
          <i class="fas fa-store"></i>&nbsp;{{ order.storeName }}
        </div>
        <div class="col-3">
          <i class="fas fa-shipping-fast"></i>&nbsp;{{ reformatTime(order.requestDeliveryTime) }}
        </div>
        <div class="col-3">
          <i class="fas fa-dollar-sign"></i>&nbsp;{{ order.totalPrice.toFixed(2) }}
        </div>

      </div>
      <div class="row no-gutters">
        <div class="col-9">
          <div class="img-gallery">
            <div *ngFor="let item of order.items">
              <div class="cart-img-container ">
                <img src="{{ 'assets/images/' + item.pictureUrl }}" class="pic" alt="...">
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 action-container">
          <button mat-stroked-button class="row no-gutters" [routerLink]="['/myorders/orderdetails']" [queryParams]="{receiptmode: false, orderId: order.orderId}">Details</button>
          <button mat-stroked-button class="row no-gutters" (click)="openUpdateOrderOptions(order.orderId)" *ngIf="authenticator.role == 'buyer' && order.status == 0">Cancel</button>
          <button mat-stroked-button class="row no-gutters" (click)="openUpdateOrderOptions(order.orderId)" *ngIf="authenticator.role == 'deliverer'&& order.status != 3">Update Status</button>
        </div>

      </div>

    </div>

  </div>

</div>
